.contact {
    height: 89vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.contact-subhead {
    color: orangered;
}

.contact-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.contact-text-quotes {
    font-size: 20px;
    width: 30%;
    font-weight: bold;
    font-variant: small-caps;
}

.contact-center-img{
    height: 10%;
}


.contact-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.contact-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    margin-bottom: 10px;
    transition: all 0.3 ease;
    cursor: pointer;
}

.contact-form button:hover {
    background: #45a049;
}


.contact-form textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none; /* To prevent resizing of the textarea */
    .contact-form textarea {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        resize: none; 
        min-height: 100px; 
    }
}